{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Promoquality - Panel administración. Formulario de gestión de categorias{% endblock %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block title %}Promoquality - Panel administración. Formulario de gestión de categorías{% endblock %}

{% block breadcrumb %}

	<div id="current-category" class="category-item"><h3>
	{% if categoria.id is null %}
		{% if pare is null %}
			Nueva categoría principal
		{% else %}
			Nueva subcategoría de {{ pare.nom }}
		{% endif %}
	{% else %}
		Modificar categoria {{ categoria.nom }}
	{% endif %}</h3></div>
		
{% endblock %}

{% block content %}
 	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
 	<div id="categoria" class="form-container">
		<form action="{{ path('PromoBundle_categoria') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form.id) }}
			
			<div id="portada-categoria" class="form-row clearfix">
				{{ form_label(form.imatge, 'Portada*:') }}
				{{ form_widget(form.imatge) }}
				{% if categoria.imatge is not null and categoria.imatge.width > 0 and categoria.imatge.height > 0 %}
					<div class="galeria-upload">
						<div class="image-portada"><img height="200" src="{{ categoria.imatge.webPath }}" title="Cambiar imagen" alt="Cambiar imagen"></div>
					</div>
				{% else %}
					<div class="galeria-upload">
						<div class="image-upload"><span class="box-center-txt">Subir portada<br/>(click)</span></div>
					</div>
				{% endif %}
			</div>
			<div id="nom-categoria" class="form-row clearfix">
				{{ form_label(form.nom, 'Nombre*:') }}
				{{ form_widget(form.nom) }}
			</div>
			<div id="pare-categoria" class="form-row clearfix">
				{{ form_label(form.pare, 'Categoría padre:') }}
				{{ form_widget(form.pare) }}
			</div>
			
			{# form_rest(form.imatge) #}
			{{ form_rest(form) }}
			
			<div class="form-row clearfix"> 
				<label>&nbsp;</label>
	        	<input type="submit" class="submit-form" value="Guardar categoría" />
	        </div>  
		</form>
	</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
    	$(document).ready(function(){
			
    		hoverPortada($(".image-portada"));
    		
    		$('#categoria_imatge').imagePreview({ selector : '.galeria-upload', multiple: false, textover: 'Cambiar imagen' });
    		
			$(".galeria-upload").click(function() {
				$('#categoria_imatge').click();
			});

        });
	
	</script>
    
{% endblock %}