{% extends 'PromoBundle::layout.html.twig' %}

{% block title %}Nueva categoria{% endblock %}

{% block breadcrumb %}

	{% if pare is null %}
		<div id="current-category"><h3>Nueva categoría principal</h3></div>
	{% else %}
		<div id="current-category"><h3>Nueva subcategoría de {{ pare.nom }}</h3></div>
	{% endif %}
{% endblock %}

{% block content %}
 	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}

	<form action="{{ path('PromoBundle_categoria') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form.id) }}
		
		<div id="nom-categoria" class="form-row">
			{{ form_label(form.nom, 'Nombre*') }}
			{{ form_widget(form.nom) }}
		</div>
		<div id="titol-imatge-categoria" class="form-row">
			{{ form_label(form.imatge.titol, 'Descripción (html title)') }}
			{{ form_widget(form.imatge.titol) }}
		</div>
		<div id="imatge-categoria" class="form-row">
			{{ form_label(form.imatge.file, 'Subir imagen*') }}
			{{ form_widget(form.imatge.file) }}
		</div>
		<div id="pare-categoria" class="form-row">
			{{ form_label(form.pare, 'Padre') }}
			{{ form_widget(form.pare) }}
		</div>
		
		{{ form_rest(form.imatge) }}
		{{ form_rest(form) }}

	    <input type="submit" value="Crear categoría" />
	</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
    
	$(document).ready(function(){
	});
	
	</script>
    
{% endblock %}