{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Promoquality - Panel administración. Formulario de gestión de productos{% endblock %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block stylesheets %}
	{{ parent() }} 
	<link media="all" href="{{ asset('css/dropzone.css') }}" type="text/css" rel="stylesheet" >
{% endblock %}

{% block javascriptshead %}
	{{ parent() }} 
   	<script src="{{ asset('js/dropzone.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Promoquality - Panel administración. Formulario de gestión de productos{% endblock %}

{% block breadcrumb %}

	<div id="current-category" class="category-item"><h3>Nuevo producto de {{ producte.categoria.nom }}</h3></div>

{% endblock %}

{% block content %}
 	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
	<div id="producte"  class="form-container">
		<form action="{{ path('PromoBundle_producto') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form.id) }}
			
			<div id="imatge-producte" class="form-row">
				{{ form_label(form.imatgeportada.file, 'Subir imagen portada*') }}
				{{ form_widget(form.imatgeportada.file) }}
			</div>
			<div id="nom-producte" class="form-row">
				{{ form_label(form.nom, 'Nombre*') }}
				{{ form_widget(form.nom) }}
			</div>
			<div id="titol-imatge-producte" class="form-row">
				{{ form_label(form.imatgeportada.titol, 'Descripción (html title)') }}
				{{ form_widget(form.imatgeportada.titol) }}
			</div>
			<div id="espec-producte" class="form-row">
				{{ form_label(form.especificacions, 'Especificaciones*') }}
				{{ form_widget(form.especificacions) }}
			</div>
			<div id="preus-producte" class="form-row">
				{{ form_label(form.preus, 'Precios*') }}
				{{ form_widget(form.preus) }}
			</div>
			<div id="categoria-producte" class="form-row">
				{{ form_label(form.categoria, 'Padre') }}
				{{ form_widget(form.categoria) }}
			</div>

			<div class="form-row"><label>Galeria</label></div>
			<div id="imatges-producte" class="form-row dropzone"></div>
			
			{{ form_rest(form.imatgeportada) }}
			{{ form_rest(form) }}
			
			<!--<div id="categoria-imatges-upload" class="form-row fallback">
				<label>Otras imagenes</label>
				<input name="file" type="file" multiple />
				<input id="fileupload" type="file" name="files[]" data-url="{# asset('images/items') #}" multiple> 
				<div id="prova-fitxers"></div>
			</div>-->
			
			<div>
				<label>&nbsp;</label>
		    	<input type="submit" class="submit-form" value="Crear producto" />
		    </div>
		</form>
		
		
		
	</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

    $(document).ready(function(){

    	$("#imatges-producte").dropzone({ 
        	url: "/admin/galeria",
        	maxFilesize: 2, 
        	paramName: "file",
        	init: function() {
        	    this.on("addedfile", function(file) { alert("Added file." + file.name); });
        	  }
        });
		    	
    	
      
    });
    

	</script>
    
{% endblock %}