{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Promoquality - Panel administraci칩n. Cambio de contrase침a {% endblock %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block title %}Promoquality - Panel administraci칩n. Cambio de contrase침a {% endblock %}


{% block content %}
 	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
	<div id="usuari"  class="form-container">
		<form action="{{ path('PromoBundle_usuari') }}" method="post" {{ form_enctype(form) }}>
			<div id="mail-usuari" class="form-row clearfix">
				{{ form_label(form.mail, 'Correo:') }}
				{{ form_widget(form.mail) }}
			</div>
			<div id="pwd-usuari" class="form-row clearfix">
				{{ form_label(form.pwd, 'Password*:') }}
				{{ form_widget(form.pwd) }}
			</div>
			{{ form_rest(form) }}
			
			<div>
				<label>&nbsp;</label>
		    	<input type="submit" class="submit-form" value="Entrar" />
		    </div>
		</form>
	</div>
{% endblock %}

{% block footer %}{% endblock %}

