{% extends 'PromoBundle::layout.html.twig' %}

{% block title %}Casos de éxito. Productos recomendados{% endblock %}

{% block content %}
	<ol id="list-cataleg"> 
	{% for producte in productes %}
   		<li><a href="{{ path('PromoBundle_catalogodetalle', {'producto': producte.ruta}) }}">
	   		<div class="cataleg-imatge">
	   		{% if producte.imatgeportada is not null and producte.imatgeportada.width > 0 and producte.imatgeportada.height > 0 %}
		   		<img  width="{{ producte.imatgeportada.width }}" height="{{ producte.imatgeportada.height }}" 
	   				alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
	   				src="{{ producte.imatgeportada.webPath }}">
			{% else %}
		   		<span class="noimage-available">No hay imagen<br/>Disponible</span>
		   	{% endif %}  
		   	</div>
   			<div class="cataleg-nom">{{ producte.nom }}</div></a>
   		</li>
   	{% endfor %}
	</ol> 
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){

		menuActive($("#menu-casosexito a"));

		redimensionarImatgesCataleg(".cataleg-imatge img", 0, 0);
	});

	
	</script>
    
{% endblock %}