{% extends 'PromoBundle::layout.html.twig' %}

{% block title %}Casos de éxito. Productos recomendados{% endblock %}

{% block content %}
	<ol id="list-cataleg"> 
	{% for producte in productes %}
   		<li><a href="{{ path('PromoBundle_catalogodetalle', {'producto': producte.ruta}) }}">
	   		<div class="cataleg-imatge">
	   			<img  width="{{ producte.imatgeportada.width }}" height="{{ producte.imatgeportada.height }}" 
	   			alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
	   			src="{{ asset('images/items/') }}{{ producte.imatgeportada.path }}"></div>
   			<div class="cataleg-nom">{{ producte.nom }}</div></a>
   		</li>
   	{% endfor %}
	</ol>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-casosexito").addClass("menu-item-active");

		redimensionarImatgesCataleg("#list-cataleg img");
	});

	
	</script>
    
{% endblock %}