{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Catálogo de productos Promoquality{% if pare is not null %}. {{ pare.nom }}	{% endif %}{% endblock %}

{% block javascriptshead %}
	{{ parent() }} 
   	<script src="{{ asset('js/jquery-ui.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Catálogo Promoquality{% if pare is not null %}. {{ pare.nom }}	{% endif %}{% endblock %}

{% block breadcrumb %}
	{% set pareid = 0 %}
	{% if pare is not null %}
		{% set pareid = pare.id %}
		<div id="current-category" class="category-item"><h3>
			{% if pare.pare is null %}
			<a href="{{ path('PromoBundle_catalogo') }}">{{ pare.root }}</a>
			{% else %}
			<a href="{{ path('PromoBundle_catalogo', {'categoria': pare.pare.ruta }) }}">{{ pare.root }}</a>
			{% endif %}</h3>
		</div>
	{% endif %}
	
	{% if admin == true %}
		{# Si encara no hi ha categories pot afegir productes i tancar la recursivitat #}
		{% if categories|length == 0 %}
		<div id="admin-action" class="category-item">
			<a href="{{ path('PromoBundle_producto', {'categoria': pareid }) }}">Nuevo producto</a>
		</div>
		{% endif %}
		<div id="admin-action" class="category-item">
			<a href="{{ path('PromoBundle_categoria', {'pare': pareid }) }}">Nueva categoría</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
	<ol id="list-cataleg"> 
	{% for categoria in categories %}
   		<li>
			<div class="cataleg-item">
				<a href="{{ path('PromoBundle_catalogo', {'categoria': categoria.ruta}) }}">
	   			<div class="cataleg-imatge">
	   			{% if categoria.imatge is not null and categoria.imatge.width > 0 and categoria.imatge.height > 0 %}
		   			<img  width="{{ categoria.imatge.width }}" height="{{ categoria.imatge.height }}" alt="{{ categoria.imatge.titol }}" title="{{ categoria.imatge.titol }}" src="{{ categoria.imatge.webPath }}">
				{% else %}
		   			<span class="noimage-available">No hay imagen<br/>Disponible</span>
		   		{% endif %}  
	   			</div>
				<div class="cataleg-nom">{{ categoria.nom }}</div></a>
			</div>
			{% if admin == true %}
			<div class="admin-actions">
				<a class="ui-icon ui-icon-trash" title="Eliminar categoría {{ categoria.nom }}" alt="Eliminar categoría {{ categoria.nom }}" 
								href="{{ path('PromoBundle_removecategoria', {'categoria': categoria.id }) }}">Eliminar categoría</a>
				<a class="ui-icon ui-icon-pencil" title="Editar categoría" alt="Editar categoría" 
								href="{{ path('PromoBundle_categoria', {'categoria': categoria.id }) }}">Editar categoría</a>
			</div>
			{% endif %}
   		</li>
   	{% else %}
   		<span>Todavía no hay productos en {{ pare.nom }}</span>
   	{% endfor %}
	</ol> 
	<div id="dialog-confirm"></div>
	
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg(".cataleg-imatge img", 0, 0);

		hoverCatalegAdminActions($("#list-cataleg li"), ".cataleg-item", ".admin-actions");

		removeItem($("#dialog-confirm"), "¿Seguro que quieres borrar la categoría?");
	});

	
	</script>
    
{% endblock %}