{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Catálogo de productos Promoquality{% if pare is not null %}. {{ pare.nom }}	{% endif %}{% endblock %}

{% block title %}Catálogo Promoquality{% if pare is not null %}. {{ pare.nom }}	{% endif %}{% endblock %}

{% block breadcrumb %}
	{% set pareid = 0 %}
	{% if pare is not null %}
		{% set pareid = pare.id %}
		<div id="current-category" class="category-item"><h3>
			{% if pare.pare is null %}
			<a href="{{ path('PromoBundle_catalogo') }}">{{ pare.root }}</a>
			{% else %}
			<a href="{{ path('PromoBundle_catalogo', {'categoria': pare.pare.ruta }) }}">{{ pare.root }}</a>
			{% endif %}</h3>
		</div>
	{% endif %}
	
	{% if admin == true %}
		{# Si encara no hi ha categories pot afegir productes i tancar la recursivitat #}
		{% if categories|length == 0 %}
		<div id="admin-action" class="category-item">
			<a href="{{ path('PromoBundle_producto', {'categoria': pareid }) }}">Nuevo producto</a>
		</div>
		{% endif %}
		<div id="admin-action" class="category-item">
			<a href="{{ path('PromoBundle_categoria', {'pare': pareid }) }}">Nueva categoría</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<ol id="list-cataleg"> 
	{% for categoria in categories %}
   		<li><a href="{{ path('PromoBundle_catalogo', {'categoria': categoria.ruta}) }}">
	   		<div class="cataleg-imatge"><img  width="{{ categoria.imatge.width }}" height="{{ categoria.imatge.height }}" alt="{{ categoria.imatge.titol }}" title="{{ categoria.imatge.titol }}" src="{{ asset('images/items/') }}{{ categoria.imatge.path }}"></div>
   			<div class="cataleg-nom">{{ categoria.nom }}</div></a>
   			{% if admin == true %}
   			<div class="admin-actions">
	   			<a class="remove-item" href="{{ path('PromoBundle_removecategoria', {'categoria': categoria.id }) }}">
	   				<img  width="15" height="15" alt="Eliminar categoría" title="Eliminar categoría" src="{{ asset('images/delete-icon.gif') }}">
	   			</a>	
	   			<a href="{{ path('PromoBundle_categoria', {'categoria': categoria.id }) }}">
	   				<img width="15" height="15" alt="Editar categoría" title="Editar categoría" src="{{ asset('images/edit-icon.gif') }}">
	   			</a>	
   			</div>
   			{% endif %}
   		</li>
   	{% else %}
   		<span>Todavía no hay productos en {{ pare.nom }}</span>
   	{% endfor %}
	</ol> 
	
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg(".cataleg-imatge img");

		hoverCatalegAdminActions();
	});

	
	</script>
    
{% endblock %}