{% extends 'PromoBundle::layout.html.twig' %}

{% block title %}Productos Promoquality!{% endblock %}

{% block breadcrumb %}

	{% if categoria.pare is not null %}
	<div id="current-category" class="category-item">
		<h3><a href="{{ path('PromoBundle_catalogo', {'categoria': categoria.pare.ruta }) }}">{{ categoria.root }}</a></h3>
	</div>
	{% endif %}
	
	{% if admin == true %}
		<div id="admin-action">
			<a href="{{ path('PromoBundle_producto', {'categoria': categoria.id }) }}">Nuevo producto</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<ol id="list-cataleg"> 
	{% for producte in productes %}
   		<li><a href="{{ path('PromoBundle_catalogodetalle', {'producto': producte.ruta}) }}">
	   		<div class="cataleg-imatge">
	   			<img  width="{{ producte.imatgeportada.width }}" height="{{ producte.imatgeportada.height }}" 
	   			alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
	   			src="{{ asset('images/items/') }}{{ producte.imatgeportada.path }}"></div>
   			<div class="cataleg-nom">{{ producte.nom }}</div></a>
   		</li>
   	{% endfor %}
	</ol> 
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg("#list-cataleg img");
		
	});

	
	</script>
    
{% endblock %}