{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Catálogo de productos Promoquality. {{ categoria.nom }}{% endblock %}

{% block javascriptshead %}
	{{ parent() }} 
   	<script src="{{ asset('js/jquery-ui.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Catálogo de productos Promoquality. {{ categoria.nom }} {% endblock %}

{% block breadcrumb %}

	<div id="current-category" class="category-item">
		<h3>{% if categoria.pare is null %}
			<a href="{{ path('PromoBundle_catalogo') }}">{{ categoria.root }}</a>
			{% else %}
			<a href="{{ path('PromoBundle_catalogo', {'categoria': categoria.pare.ruta }) }}">{{ categoria.pare.root }}</a>
			{% endif %}
		</h3>
	</div>
	
	{% if admin == true %}
		<div id="admin-action" class="category-item">
			<a href="{{ path('PromoBundle_producto', {'categoria': categoria.id }) }}">Nuevo producto</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
	<ol id="list-cataleg"> 
	{% for producte in productes %}
   		<li><a href="{{ path('PromoBundle_catalogodetalle', {'producto': producte.ruta}) }}">
	   		<div class="cataleg-imatge">
	   			<img  width="{{ producte.imatgeportada.width }}" height="{{ producte.imatgeportada.height }}" 
	   			alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
	   			src="{{ asset('images/items/') }}{{ producte.imatgeportada.path }}"></div>
   			<div class="cataleg-nom">{{ producte.nom }}</div></a>
   			{% if admin == true %}
   			<div class="admin-actions">
   				<a class="ui-icon ui-icon-trash" title="Eliminar producto {{ producte.nom }}" alt="Eliminar producto {{ producte.nom }}" 
								href="{{ path('PromoBundle_removeproducto', {'producto': producte.id }) }}">Eliminar producto</a>
				<a class="ui-icon ui-icon-pencil" title="Editar producto" alt="Editar producto" 
								href="{{ path('PromoBundle_producto', {'producto': producte.id }) }}">Editar producto</a>
   			</div>
   			{% endif %}
   		</li>
   	{% endfor %}
	</ol> 
	<div id="dialog-confirm"></div>
	
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg(".cataleg-imatge img", 0, 0);

		hoverCatalegAdminActions($("#list-cataleg li"), ".cataleg-item", ".admin-actions");

		removeItem($("#dialog-confirm"), "¿Seguro que quieres borrar el producto?");
				
	});

	
	</script>
    
{% endblock %}