{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Catálogo de productos Promoquality. {{ categoria.nom }}{% endblock %}

{% block title %}Catálogo de productos Promoquality. {{ categoria.nom }} {% endblock %}

{% block breadcrumb %}

	<div id="current-category" class="category-item">
		<h3>{% if categoria.pare is null %}
			<a href="{{ path('PromoBundle_catalogo') }}">{{ categoria.root }}</a>
			{% else %}
			<a href="{{ path('PromoBundle_catalogo', {'categoria': categoria.pare.ruta }) }}">{{ categoria.pare.root }}</a>
			{% endif %}
		</h3>
	</div>
	
	{% if admin == true %}
		<div id="admin-action">
			<a href="{{ path('PromoBundle_producto', {'categoria': categoria.id }) }}">Nuevo producto</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<ol id="list-cataleg"> 
	{% for producte in productes %}
   		<li><a href="{{ path('PromoBundle_catalogodetalle', {'producto': producte.ruta}) }}">
	   		<div class="cataleg-imatge">
	   			<img  width="{{ producte.imatgeportada.width }}" height="{{ producte.imatgeportada.height }}" 
	   			alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
	   			src="{{ asset('images/items/') }}{{ producte.imatgeportada.path }}"></div>
   			<div class="cataleg-nom">{{ producte.nom }}</div></a>
   			{% if admin == true %}
   			<div class="admin-actions">
	   			<a href="{{ path('PromoBundle_producto', {'producto': categoria.id, 'action': 'remove' }) }}">
	   				<img  width="15" height="15" alt="Eliminar producto" title="Eliminar producto" src="{{ asset('images/delete-icon.gif') }}">
	   			</a>	
	   			<a href="{{ path('PromoBundle_producto', {'producto': categoria.id, 'action': 'edit' }) }}">
	   				<img width="15" height="15" alt="Editar producto" title="Editar producto" src="{{ asset('images/edit-icon.gif') }}">
	   			</a>	
   			</div>
   			{% endif %}
   		</li>
   	{% endfor %}
	</ol> 
	
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg(".cataleg-imatge img");

		hoverCatalegAdminActions();
		
	});

	
	</script>
    
{% endblock %}