{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Catálogo de productos Promoquality. {{ producte.nom }}. {{ producte.especificacions }} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link media="all" href="{{ asset('css/colorbox.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascriptshead %} 
	{{ parent() }}
	<script src="{{ asset('js/jquery.colorbox.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %} Catálogo de productos Promoquality. {{ producte.nom }}{% endblock %}

{% block breadcrumb %}
	<div id="current-category" class="category-item">
		<h3><a href="{{ path('PromoBundle_catalogo', {'categoria': producte.categoria.ruta }) }}">{{ producte.categoria.root }}</a></h3>
	</div>
{% endblock %}

{% block content %}
	{% set socialdescription = producte.nom %}
	<div class="left-block producte-detalls">
		<div id="producte-nom">{{ producte.nom }}</div>
		<div id="producte-espc">
			<p class="producte-titol">Especificaciones técnicas</p>
			<div class="producte-detall">{{ producte.especificacions|nl2br }}</div>
		</div>
		<div id="producte-preus">
			<p class="producte-titol">Precios (no incluyen impresión)</p>
			<p class="producte-detall">{{ producte.preus|nl2br }}</p>
		</div>
	</div>
	<div class="right-block">
		<div id="producte-imatge-portada">
			{% if producte.imatgeportada is not null and producte.imatgeportada.width > 0 and producte.imatgeportada.height > 0 %}
			<div class="imatge-hcenter"><a href="{{ producte.imatgeportada.webPath }}" class="colorbox">
	   			<img  height="350" alt="{{ producte.imatgeportada.titol }}" title="{{ producte.imatgeportada.titol }}" 
				src="{{ producte.imatgeportada.webPath }}"></a></div>
			{% else %}
	   		<div><span class="noimage-available">No hay imagen<br/>Disponible</span></div>
	   		{% endif %} 
		</div>
		<div id="producte-imatges">
			{% for imatge in producte.imatges %}
				<div class="producte-imatge">
					{% if imatge is not null and imatge.width > 0 and imatge.height > 0 %}
					<div class="cataleg-imatge imatge-hcenter">
						<a href="{{ imatge.webPath }}" class="colorbox"><img width="{{ imatge.width }}" height="{{ imatge.height }}" 
						src="{{ imatge.webPath }}" alt="{{ imatge.titol }}"	title="{{ imatge.titol }}"></a>
					</div>
	   				{% endif %} 
				</div>
			{% endfor %}		
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">

	$(document).ready(function(){
		$("#menu-catalogo").addClass("menu-item-active");

		redimensionarImatgesCataleg(".cataleg-imatge img", 0, 0);

		$(".colorbox").colorbox({
			rel:'{{ producte.nom }}',
			scalePhotos: true,
			maxWidth: "600px",
			maxHeight: "500px"
		});
	});
	</script>
    
{% endblock %}