{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Contactar con Promoquality para obtener más información a través de teléfono, fax, 
correo electrónico o el formulario de contacto. {% endblock %}

{% block title %}Promoquality - Contactar con nosotros. Formulario de contacto {% endblock %}

{% block content %}

    {% if app.session.hasFlash('sms-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('sms-notice') }}
    </div>
	{% endif %}
    <div id="contact" class="form-container">
    	<div id="contact-text">
		    <h3>Contacto</h3>
		    <p>Para obtener más información, puedes contactar con nosotros a través de los siguientes canales:</p>
		    <p>&nbsp;</p>
		    <p>Dirección: Pl. Francesc Macià, 8-9 1oE 08029 Barcelona</p>
			<p>Teléfono: 933 637 003</p>
			<p>Fax: 934 109 992</p>
			<p>E-mail: info@promoquality.com</p>
		    <h3>Petición de reservas:</h3>
		    <p>Rellena este formulario y en breve nos pondremos en contacto contigo:</p>
			<p class="anotacio">(*Campos obligatorios)</p>
	    </div>
	    
		<form action="{{ path('PromoBundle_contacto') }}" method="post" {{ form_enctype(form) }}  class="appform">
	    	{{ form_errors(form) }}
			<div id="contact-nom">
				{{ form_label(form.nom, 'Nombre*:') }}
				{{ form_widget(form.nom) }}
				{{ form_errors(form.nom) }}
			</div>
			<div id="contact-adreca">
				{{ form_label(form.adreca, 'Dirección:') }}
				{{ form_widget(form.adreca) }}
			</div>
			<div id="contact-telf">
				{{ form_label(form.telf, 'Teléfono:') }}
				{{ form_widget(form.telf) }}
			</div>
			<div id="contact-email">
				{{ form_label(form.email, 'E-mail*:') }}
				{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}
			</div>
			<div id="contact-assumpte">
				{{ form_label(form.assumpte, 'Asunto*:') }}
				{{ form_widget(form.assumpte) }}
				{{ form_errors(form.assumpte) }}
			</div>
			<div id="contact-missatge">
				{{ form_label(form.missatge, 'Mensaje*:') }}
				{{ form_widget(form.missatge) }}
				{{ form_errors(form.missatge) }}
			</div>
			{{ form_rest(form) }}
			<div>
				<label>&nbsp;</label>
	        	<input type="submit" class="submit-form" value="Enviar" />
	        </div>        
	    </form> 
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
	$(document).ready(function(){

		menuActive($("#menu-contacto a"));

		if( $("html").hasClass("ie8lte") ) { 
			$(".submit-form").addClass("submit-form-ie8lte");
		}
		
	});
</script>


{% endblock %}