{# src/Promo/Bundle/Resources/views/Static/index.html.twig #}
{% extends 'PromoBundle::layout.html.twig' %}

{% block title %}Bienvenido a Promoquality!{% endblock %}

{% block javascriptshead %} 
	{{ parent() }}
   	<script src="{{ asset('js/jquery.jplayer-2.3.0.min.js') }}" type="text/javascript"></script>
   	
   	 <script type="text/javascript">
	
    $(document).ready(function(){
   		$("#introsprite").jPlayer({
       		ready: function () {
    	   		$(this).jPlayer("setMedia", {
    	   			m4v: "/media/movie01_text.m4v",
    	   			ogv: "/media/movie01_text.ogv",
    	   			webmv: "/media/movie01_text.webm",
    	   			poster: "/images/logo_promoquality_big.png" 
    	   		}).jPlayer("play");

    	    	var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
    		    var kickoff = function () {
    		       	$("#introsprite").jPlayer("play");
    		        document.documentElement.removeEventListener(click, kickoff, true);
    		    };
    		    document.documentElement.addEventListener(click, kickoff, true);

    		    $("jp_video_0").bind("ended", function() {
    		   		   alert("I'm done!");
    		   	});
    	   	},
    		ended: function () {
            },
            timeupdate: function(event) {
                /* Every 250 ms
                if(event.jPlayer.status.currentTime > event.jPlayer.status.duration - 1) {
                  $(this).jPlayer('pause');
                }*/
			},
            loop: false,
        	supplied: "webmv, ogv, m4v",
        	size: {
        		width: "600px",
        		height: "450px"	
            },
            backgroundColor: "#ffffff",
        	swfPath: "/js",
        	wmode: "window",
        	solution: "html,flash"
        });
	});
	</script>
{% endblock %}


{% block header %}
{{ parent() }}
<style>

</style>
{% endblock %}

{% block content %}
<div id="main-intro">
	<div id="introsprite" class="jp-jplayer"></div>
	<div id="intro-end-image" style="display: none">
		<img alt="Promoquality logo" title="Promoquality logo" src="{{ asset('images/logo_promoquality_big.png') }}">	
	</div>
	<div id="text-intro-01" style="display: none">
		<span id ="text-intro-tot-01" class="text-intro-tot">
		<span class="text-intro-pregunta">¿No tienes tiempo para buscar?</span>
		<span class="text-intro-resposta">Nosotros nos encargamos de encontrar lo que necesitas con nuestro equipo consultor</span></span>
	</div>
	<div id="text-intro-02" style="display: none">
		<span id ="text-intro-tot-02" class="text-intro-tot">
		<span class="text-intro-pregunta">¿Quieres regalar algo único?</span>
		<span class="text-intro-resposta">Puedes personalizar las campañas como más te gusten</span></span>
	</div>
	<div id="text-intro-03" style="display: none">
		<span id ="text-intro-tot-03" class="text-intro-tot">
		<span class="text-intro-pregunta">¿Cansado de pagar mucho por todo?</span>
		<span class="text-intro-resposta">Te ofrecemos los precios más competitivos del mercado</span></span>
	</div>
	<div id="text-intro-04" style="display: none">
		<span id ="text-intro-tot-04" class="text-intro-tot">
		<span class="text-intro-pregunta">&nbsp;<br/>¿Sabías qué?</span>
		<span class="text-intro-resposta">Las mejores empresas del país han confiado en nuestro trabajo</span></span>
	</div>
	<div id="text-intro-05" style="display: none">
		<span id ="text-intro-tot-05" class="text-intro-tot">
		<span class="text-intro-pregunta">¿No encuentras nada que te convenza?</span>
		<span class="text-intro-resposta">Te ofrecemos más de 8.000 productos donde elegir</span></span>
	</div>
	<div id="skip-intro" class="category-item"><a alt="Entrada menú información empresa" title="Entrada menú información empresa" href="{{ path('PromoBundle_empresa') }}">Saltar intro</a></div>
</div>

<!--
<div id="intro"></div>
Cos
<p>jsmovie -> si</p>
<p>spritely -> si</p>
<p>jplayer ? </p>
<p><a href="http://www.contulogo.com">www.contulogo.com -> Imatges.Escollir contrastades colors-formes-inclinació</a></p>
<p><a href="http://www.promoquality.com">www.promoquality.com -> Productes</a></p>
<p>Intro 37 imatges a ritme imatges, textes ok?</p> -->	   	


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
	
    $(document).ready(function(){

    	
		//$("#introsprite").jPlayer("destroy"); // Destroy any previous instance
   		$("#introsprite").jPlayer({
       		ready: function () {
    	   		$(this).jPlayer("setMedia", {
    	   			m4v: "/media/movie01_text.m4v",
    	   			ogv: "/media/movie01_text.ogv",
    	   			webmv: "/media/movie01_text.webm",
    	   			poster: "/images/logo_promoquality_big.png" 
    	   		}).jPlayer("play");

    	    	var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
    		    var kickoff = function () {
    		       	$("#introsprite").jPlayer("play");
    		        document.documentElement.removeEventListener(click, kickoff, true);
    		    };
    		    document.documentElement.addEventListener(click, kickoff, true);

    		    $("jp_video_0").bind("ended", function() {
    		   		   alert("I'm done!");
    		   	});
    	   	},
    		ended: function () {
    			alert("jplayer end!");
            },
        	supplied: "webmv, ogv, m4v",
        	size: {
        		width: "600px",
        		height: "450px"	
            },
            backgroundColor: "#ffffff",
        	swfPath: "/js",
        	wmode: "window",
        	solution: "html,flash"
        });


   		
        /*
    	loadVideo = function(id, texts) {
		
			if (texts.length > 0) {
				$(id).jPlayer("destroy"); // Destroy any previous instance
				var text = texts.shift();
	    		$(id).jPlayer({
	        		ready: function () {
	    	    		$(this).jPlayer("setMedia", {
	    	    			m4v: "/media/movie01_text.m4v",
	    	    			ogv: "/media/movie01_text.ogv",
	    	    			webmv: "/media/movie01_text.webm",
	    	    			poster: "/images/logo_promoquality_big.png" 
	    	    		})
	    	    		.jPlayer("play");
	
	    	    		var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
	    		        var kickoff = function () {
	    		        	$(id).jPlayer("play");
	    		            document.documentElement.removeEventListener(click, kickoff, true);
	    		        };
	    		        document.documentElement.addEventListener(click, kickoff, true);
	    	    		
	        		},
	        		ended: function () {
	        			setTimeout(function() {
	        				$("#introsprite").html(  $("#intro-end-image").html()  );
	        			}, 2000);
	                },	
	        		supplied: "ogv, webmv, m4v",
	        		size: {
	        			width: "600px",
	        			height: "450px"	
	            	},
	            	backgroundColor: "#ffffff",
	        		swfPath: "/js",
	        		wmode: "window",
	        		solution: "html,flash"
	        	});
			};
        };

        
        var texts = new Array("#text-intro-01", "#text-intro-02", "#text-intro-03");*/
		
        //loadVideo("#introsprite", texts);

		


        
    	/*
    	$("#introsprite").jPlayer({
    		ready: function () {
	    		$(this).jPlayer("setMedia", {
	    			m4v: "/media/movie10.mp4",
	    			ogv: "/media/movie10.ogv",
	    			webmv: "/media/movie10.webm",
	    			poster: "/images/logo_promoquality_big.png" 
	    		})
	    		.jPlayer("play");

	    		var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
		        var kickoff = function () {
		        	$("#introsprite").jPlayer("play");
		            document.documentElement.removeEventListener(click, kickoff, true);
		        };
		        document.documentElement.addEventListener(click, kickoff, true);
	    		
    		},
    		ended: function () {
    			$("#introsprite").html(  $("#text-intro-01").html()  );
            },	
    		supplied: "ogv, webmv, m4v",
    		size: {
    			width: "800px",
    			height: "600px"	
        	},
        	backgroundColor: "#ffffff",
    		swfPath: "/js",
    		wmode: "window",
    		solution: "html,flash",

    	});*/

    	
    	
    	
    	//alert($.jPlayer.event.play);

    	//$("#introsprite").html(  $("#text-intro-01").html()  );
    	
    /*
    $("#introsprite").jPlayer({
    	ready: function() {
	    	$(this).jPlayer("setMedia", {
		    	mp3: "/media/intro.mp3"
	        }).jPlayer("play");
	        
	        var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
	        var kickoff = function () {
	        	$("#jquery_audioPlayer").jPlayer("play");
	            document.documentElement.removeEventListener(click, kickoff, true);
	        };
	        document.documentElement.addEventListener(click, kickoff, true);
	    },
	    solution: "html,flash",
	    volume: 1,
	    swfPath: "/js"
	});*/
    
		// Intro 1 - 9 fotos

		/*
		setTimeout(function() {
			audioPlay(0);
		}, 0);
			


	
		setTimeout(function() {
			$("#introsprite").html("");
			$("#introsprite").sprite({
				fps: 6, 
				no_of_frames: 9, 
				//play_frames: 9,
				on_last_frame: function(obj) {
					//obj.spStop(); 
					obj.destroy();
					$("#introsprite").css('background', 'none');
					audioStop();
					$("#introsprite").html(  $("#text-intro-01").html()  );
					
			        //alert("1");
			       
			        //$("#jquery_audioPlayer").jPlayer("stop");
			        //alert("2");
			        
			    }
			});
			//$('#introsprite').spStart();
			
		}, 800);*/

		/*
		setTimeout(function() {
			$("#introsprite").html(  $("#text-intro-01").html()  );
		}, 1000); 
		
		setTimeout(function() {
			$("#introsprite").html(  $("#text-intro-02").html()  );
		}, 2000); 
		
		setTimeout(function() {
			$("#introsprite").html(  $("#text-intro-03").html()  );
		}, 3000); 

		setTimeout(function() {
			$("#introsprite").html(  $("#text-intro-04").html()  );
		}, 4000); 

		setTimeout(function() {
			$("#introsprite").html(  $("#text-intro-05").html()  );
		}, 5000); */

		/*
		audioPlay = function(n) {
			$("#jquery_audioPlayer").jPlayer({
	        	ready: function() {
			    	$(this).jPlayer("setMedia", {
				    	mp3: "/media/intro.mp3"
			        }).jPlayer("play");
			        
			        var click = document.ontouchstart === undefined ? 'click' : 'touchstart';
			        var kickoff = function () {
			        	$("#jquery_audioPlayer").jPlayer("play");
			            document.documentElement.removeEventListener(click, kickoff, true);
			        };
			        document.documentElement.addEventListener(click, kickoff, true);
			    },
			    solution: "html,flash",
			    volume: 1,
			    swfPath: "/js"
			});
		};

		audioStop = function() {
			$("#jquery_audioPlayer").jPlayer("stop");
		};*/
		

		/*
		$('#intro').jsMovie({
			//images : ['loader_ani4x4.png'],
			sequence: "web##.jpg",from:2,to:36,step:1,
			folder : '/images/',
			fps: 5,
			height : 460, 
			width: 610,
			grid   : {height:460, width:610, columns:1, rows:1},
			//showPreLoader : false,
			playOnLoad    : true,
			repeate		: false,
			play		: function() {
				alert('play');
			},
			stop		: function() {
				alert('stop');
			}
		});*/ 

		/*
		$('#intro').jsMovie("addClip","clip1",2,10,10000);
		$('#intro').jsMovie("addClip","clip2",11,20,10000);
		$('#intro').jsMovie("playClip", "clip1");
		alert("mig");
		$('#intro').jsMovie("playClip", "clip2");
*/
		
		
		
		/*
		setTimeout(function() {
			$('#intro').jsMovie('stop');
		}, 2000); 

		*/
		
		
	});


	
	</script>
    
{% endblock %}