{% extends 'PromoBundle::layout.html.twig' %}

{% block meta_description %}Promoquality - Consultora y Promociones de Marketing Directo. 
Gestión integral de acciones de marketing: consultoría, producción, almacenaje y entrega de regalos
Localización e importación en exclusiva de artículos para campañas masivas. 
Articulos para ferias, reuniones comerciales u otros eventos. Desde económicos hasta selectos y lujosos{% endblock %}

{% block title %}Promoquality - Consultora y Promociones de Marketing Directo{% endblock %}

{% block javascriptshead %} 
	{{ parent() }}

	<script src="{{ asset('js/jquery.jplayer-2.3.0.min.js') }}" type="text/javascript"></script>

{% endblock %}


{% block header %}
{{ parent() }}
<style>

</style>
{% endblock %}

{% block content %}
<div id="main-intro">
	<div id="introsprite" class="jp-jplayer"></div>
	<div id="intro-end-image" style="display: none">
		<img alt="Promoquality logo" title="Promoquality logo" src="{{ asset('images/logo_promoquality_big.png') }}">	
	</div>
	<div id="text-intro-01" style="display: none">
		<span id ="text-intro-tot-01" class="text-intro-tot">
		<span class="text-intro-pregunta">¿No tienes tiempo para buscar?</span>
		<span class="text-intro-resposta">Nosotros nos encargamos de encontrar lo que necesitas con nuestro equipo consultor</span></span>
	</div>
	<div id="text-intro-02" style="display: none">
		<span id ="text-intro-tot-02" class="text-intro-tot">
		<span class="text-intro-pregunta">¿Quieres regalar algo único?</span>
		<span class="text-intro-resposta">Puedes personalizar las campañas como más te gusten</span></span>
	</div>
	<div id="text-intro-03" style="display: none">
		<span id ="text-intro-tot-03" class="text-intro-tot">
		<span class="text-intro-pregunta">¿Cansado de pagar mucho por todo?</span>
		<span class="text-intro-resposta">Te ofrecemos los precios más competitivos del mercado</span></span>
	</div>
	<div id="text-intro-04" style="display: none">
		<span id ="text-intro-tot-04" class="text-intro-tot">
		<span class="text-intro-pregunta">&nbsp;<br/>¿Sabías qué?</span>
		<span class="text-intro-resposta">Las mejores empresas del país han confiado en nuestro trabajo</span></span>
	</div>
	<div id="text-intro-05" style="display: none">
		<span id ="text-intro-tot-05" class="text-intro-tot">
		<span class="text-intro-pregunta">¿No encuentras nada que te convenza?</span>
		<span class="text-intro-resposta">Te ofrecemos más de 8.000 productos donde elegir</span></span>
	</div>
	<div id="skip-intro" class="category-item"><a alt="Entrada menú información empresa" title="Entrada menú información empresa" href="{{ path('PromoBundle_empresa') }}">Saltar intro</a></div>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
   	 <script type="text/javascript">

   		var intro = true;
    $(document).ready(function(){
   		
    	//playIntro();
    	
   		
	});
	</script>

	{{ parent() }}
    
{% endblock %}
    
